Repository EvHaus/youtube-hide-watched: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier-package-json

lefthook.yml:

colors: false

post-merge:
  commands:
    install:
      run: yarn install --frozen-lockfile

post-rebase:
  commands:
    install:
      run: yarn install

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn eslint-globex --fix {staged_files} && git add {staged_files}
    prettier-package-json:
      glob: "package.json"
      run: yarn prettier-package-json --use-tabs --write {staged_files} && git add {staged_files}

ESLint rule fixes
  main.user.js
Due: eslint

Migrate to pnpm
  .github/workflows/workflow.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  lefthook.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier-package-json

Update LICENSE date
  LICENSE
Due: none

Add npmrc
  .npmrc
Due: none

Create button area for HWV buttons.
  main.user.js
Due: eslint

Add button for Shorts, not yet clickable
  main.user.js
Due: eslint

Shorts button now clickable, but still not actually affecting display of shorts.
  main.user.js
Due: eslint

New Shorts button now actually dims/hides Shorts
  main.user.js
Due: eslint

Fix errors/warnings coming out of workflow.yml
  main.user.js
Due: eslint

Better icon for "shorts hidden"
  main.user.js
Due: eslint

Update README.md text to include "Shorts" button.
  README.md
Due: none

Updated screenshot.png with Shorts button
  screenshot.png
Due: none

Minor code styling updates
  README.md
  main.user.js
Due: eslint

Disable debug mode
  main.user.js
Due: eslint

Update README.md
  README.md
Due: none

Upgrade Node and pnpm versions
  .github/workflows/workflow.yml
  lefthook.yml
  pnpm-lock.yaml
Due: none

Fix for grid subscriptions layout (fixes #157)
  main.user.js
Due: eslint

Fix broken Shorts on subscriptions grid mode
  main.user.js
Due: eslint

Add GM_config for HIDDEN_THRESHOLD_PERCENT
  main.user.js
Due: eslint

Change label description
  main.user.js
Due: eslint

Add GM_config for HIDDEN_THRESHOLD_PERCENT
  .eslintrc
  main.user.js
Due: eslint

Version up to 5.3
  main.user.js
Due: eslint

Switch from GM_registerMenuCommand to GM.registerMenuCommand for GreaseMonkey compatibility
  main.user.js
Due: eslint

Version 5.5 fixes shorts and allows shorts to be hidden everywhere
  README.md
  main.user.js
Due: eslint

Remove :has selector use which is still missing in Firefox (fixes #172)
  main.user.js
Due: eslint

v5.7 fix more broken Shorts sections due to YouTube changes
  main.user.js
Due: eslint

Hides Shorts on the search results page (fixes #177)
  main.user.js
Due: eslint

adopt new channel url
  main.user.js
Due: eslint

Version up to 5.9
  main.user.js
Due: eslint

Implement a more robust way of removing shorts
  main.user.js
Due: eslint
